@model ChAvTicks.IdentityServer.Models.LoginModel
<div>
    <form asp-controller="Auth" asp-action="Login" method="post">
        <input asp-for="ReturnUrl" hidden/>
        <div>
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" type="text"/>
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>