<div class="flights" *ngFor="let flight of flights">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Departure time(UTC): {{flight.departure.scheduledTimeUtc}}</h5>
          <p class="card-text">
            Service: {{flight.departure.quality}}
            <br>Transfers count : {{flight.transfers.length}}
            <br><a *ngIf="flight.transfers.length > 0">Show details about transfers</a>
          </p>
          <a class="btn btn-primary">Buy tickets right now</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Arrival time(UTC): {{flight.arrival.scheduledTimeUtc}}</h5>
          <p class="card-text">
            Service: {{flight.departure.quality}}
            <br>Transfers count : {{flight.transfers.length}}
            <br><a *ngIf="flight.transfers.length > 0">Show details about transfers</a>
          </p>
          <a class="btn btn-primary">Buy tickets right now</a>
        </div>
      </div>
    </div>
  </div>

</div>
