<div class="flights" *ngFor="let flight of flights">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{flight.departure.scheduledTimeUtc}}</h5>
          <p class="card-text text-center">{{flight.departure.airport.icao}} - {{flight.departure.airport.name}}</p>
          <a class="btn btn-primary">Buy tickets right now</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{flight.arrival.scheduledTimeUtc}}</h5>
          <p class="card-text text-center">{{flight.arrival.airport.icao}} - {{flight.arrival.airport.name}}</p>
          <a class="btn btn-primary">Buy tickets right now</a>
        </div>
      </div>
    </div>
  </div>

</div>
