<mat-toolbar color="primary">
  <span class="fill-remaining-space text-center">Get travel experience right now</span>
</mat-toolbar>

<div class="container justify-content-center">
  <form [formGroup]="searchFlightsForm" (ngSubmit)="searchFlights()" class="flight-search-form">

    <mat-form-field class="flight-search-element">

      <mat-label>From</mat-label>
      <mat-select formControlName="from" >
        <mat-option>
          <ngx-mat-select-search [formControl]="fromAirportControlFilter" placeholderLabel="Select departure point"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let airport of fromAirports$ | async" [value]="airport.icao">
          {{airport.location}}: {{airport.country}} - {{airport.airport}} - {{airport.icao}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field class="flight-search-element">

      <mat-label>To</mat-label>
      <mat-select formControlName="to">
        <mat-option>
          <ngx-mat-select-search [formControl]="toAirportControlFilter" placeholderLabel="Select arrival point"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let airport of toAirports$ | async" [value]="airport.icao">
          {{airport.location}}: {{airport.country}} - {{airport.airport}} - {{airport.icao}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field class="flight-search-element">

      <mat-label>Departure date</mat-label>
      <input type="date" class="form-control" matInput placeholder="Select departure date" formControlName="thereto">

    </mat-form-field>

    <mat-form-field class="flight-search-element">

      <mat-label>Return date</mat-label>
      <input type="date" class="form-control" matInput placeholder="Select return date" formControlName="back">
    </mat-form-field>

    <mat-form-field class="flight-search-element">

      <mat-select formControlName="service">

        <mat-label>Service type</mat-label>
        <mat-option *ngFor="let service of serviceTypes" [value]="service">
          {{service}}
        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-form-field class="flight-search-element">

      <mat-label>Count of passengers</mat-label>
      <input matInput class="form-control" placeholder="Input count of passenger" formControlName="passengers">

    </mat-form-field>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>

  </form>
</div>
